<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/default.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Book</title>
  <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css'}">
  <script th:src="@{'https://cdn.jsdelivr.net/npm/@yaireo/tagify'}"></script>
  <script th:src="@{/js/books/submit-ajax.js}"></script>
  <script th:src="@{/js/books/image-handler.js}"></script>
  <style>
    .tagify {
      height: 50px;
    }
    .thumbnail-preview {
      width: 200px;
      height: 200px;
      border: 1px solid;
      overflow: hidden;
    }
    #error {
      color: red;
      margin-left: 10px;
    }
  </style>
</head>
<body>
<div layout:fragment="content">

  <form id="addBookForm" method="post">
    <div class="form-group">
      <label for="thumbnail">Ảnh Bìa</label>
      <div class="d-flex">
        <div class="thumbnail-preview">
          <img src="" alt="thumbnail" id="thumbnail-preview" width="100%">
        </div>
        <div>
          <input type="file" class="form-control" id="thumbnail" name="thumbnail">
          <p id="error"></p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Tên Sách</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sách" required>
    </div>
    <div class="form-group">
      <label for="description">Mô Tả</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Nhập mô tả"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Giá Sách</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Nhập giá sách" required>
    </div>
    <div class="form-group">
      <label for="quantity">Số Lượng</label>
      <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Nhập số lượng" required>
    </div>
    <div class="form-group">
      <label for="authorSearch">Tác Giả</label> <div id="selected-authors"></div>
      <input type="text" class="form-control" id="authorSearch" placeholder="Nhập tên tác giả">
    </div>
    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
  </form>
</div>
</body>
</html>