<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layouts/default.html}"><head>
    <link rel="stylesheet" th:href="@{/css/clientItem.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="itemClient">
            <div class="image">
                <img
                        width="100%"
                        th:src="${book.thumbnail}"
                        th:alt="${book.name}"
                />
            </div>
            <div class="content">
                <h1 th:text="${book.name}"></h1>
                <div class="info">
                    <p th:text="${book.description}"></p>
                    <p th:text="${'quantity: ' + book.quantity}"></p>
                    <p th:text="${book.authors}"></p>
                </div>
                <p class="price" th:text="${'price: ' + book.price}"></p>
                <div class="button">
                    <button class="addItem" th:data-bookId="${book.id}">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".addItem").on("click", (evt) => {
            evt.preventDefault();
            const id = evt.target.getAttribute("data-bookId");
            $.ajax({
                url: "/carts/cartItems/" + id,
                method: "POST",
                success: (res) => {
                    console.log(res);
                },
                error: (err) => {
                    console.log(err);
                }
            })
        })
    </script>
</div>
</body>
</html>