<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layouts/default.html}"><head>
    <link rel="stylesheet" th:href="@{/css/cartList.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="itemContainer">
                <div class="item" th:each="cartItem : ${cart.getCartItems()}">
                    <div class="image">
                        <img height="100%" th:src="${cartItem.book.thumbnail}" th:alt="${cartItem.book.name}">
                    </div>
                    <div class="info">
                        <div class="infoItem">
                            <span class="nameItem" th:text="${cartItem.book.name}"></span>
                            <input type="number" min="1" th:value="${cartItem.quantity}" />
                            <span class="price" th:text="${cartItem.totalPrice}"></span>
                        </div>
                        <div>
                            <button class="delButton" th:data-id="${cartItem.getId()}">delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonContainer">
                <button class="button" id="buy">BUY</button>
            </div>
        </div>
        <script>
            $("#buy").on("click", (evt) => {
                evt.preventDefault();
                $.ajax({
                    url: "/orders/",
                    method: "POST",
                    success: (res) => {
                        window.alert("Order success");
                        window.location.href = "/";
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            });
            $(".delButton").on("click", (evt) => {
                evt.preventDefault();
                const id = evt.target.getAttribute("data-id");
                $.ajax({
                    url: `/carts/${id}`,
                    method: "DELETE",
                    success: (res) => {
                        console.log(res);
                        window.location.reload();
                    },
                    error: (err) => {
                        console.log(err);
                    }
                })
            })
        </script>
    </div>
</body>
</html>